.nav-list {
    display: flex;
}

.nav-list-items {
    list-style: none;
}

.nav-list-items a {
    text-decoration: none;
    padding: 1rem 2rem;
    margin: 0 1rem;
    border-radius: .5rem;
    color: var(--invert);
    font-size: 1.5rem;
}

.nav-list-items a:hover {
    background: var(--dark-bg);
}