.theme {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 3rem; */
}

ion-icon,
i {
    font-size: 1.8rem;
    margin: 0 1rem;
    cursor: pointer;
}

ion-icon {
    font-size: 2.5rem;
}